footer{
    padding : 32px 205px;
    border-bottom : 34px;
    width : 1520px;
    height : 180px;
    display : flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .footer__column{
    display : flex;
}

footer .company-logo{
    margin-right : 90px;
}

.footer__info{
    flex-shrink: 0;
}


.footer__info .info__link span:nth-of-type(odd),
.footer__info .info__text{
    opacity : 0.7;
    font-weight: 400;
}

.footer__info .info__link span:nth-of-type(even),
.footer__info .info__text span,
.footer__info .info__copyright{
    opacity : 0.5;
}

.footer__info .info__link span:nth-of-type(even),
.footer__info .info__text span{
    margin : 0px 8px;
}

.footer__info .info__link{
    font-size : 13.5px;
}

.footer__info .info__link span:nth-of-type(odd){
    cursor: pointer;
}

#info--special{
    font-weight : 500;
    color : rgb(190, 17, 17);
}

.footer__info .info__text{
    margin : 15px 0px;
    font-size : 12px;
    line-height : 1.65;
}

.footer__info .info__copyright{
    font-size : 12px;
}

footer .family-site select{
    width : 178px;
    height : 33px;
    display : flex;
    justify-content: center;
    align-items: center;
    padding-left : 8px;
    font-size : 13px;
    border : 1.5px solid black;
    border-radius : 3px;
}